<h1>Добавление новой вакансии.</h1>

<%= form_for (@vacancy) do |f| %>
    <p>Название: <br/> <%= f.text_area :title, size: "60x1" %></p>
    <p>Зарплата: <br/> <%= f.text_area :salary, size: "60x1" %></p>
    <p>Срок действия (в днях): <br/> <%= f.text_area :duration, size: "60x1"%></p>
    <p>Контактная информация: <br/> <%= f.text_area :information, size: "60x6" %></p>

    <p><%= f.submit "Добавить вакансию" %></p>
<% end %>

<p><%= link_to "Назад", :back %></p>