<h1>Добавление новой вакансии.</h1>

<%= form_for (@vacancy) do |f| %>
    <p>Название: <br/> <%= f.text_field :title %></p>
    <p>Зарплата: <br/> <%= f.text_field :salary %></p>
    <p>Продолжительность: <br/> <%= f.text_field :duration %></p>
    <p>Информация: <br/> <%= f.text_field :information %></p>

    <p><%= f.submit "Добавить вакансию" %></p>
<% end %>

<p><%= link_to "Назад", :back %></p>