<h1>Добавление нового работника</h1>

<%= form_for (@worker) do |f| %>
    <p>Имя: <br/> <%= f.text_area :name, size: "60x1" %></p>
    <p>Желаемая зработная плата: <br/> <%= f.text_area :solaryDesire, size: "60x1" %></p>
    <p>Статус поиска работы: <br/> <%= f.check_box :status %></p>
    <p>Контактная информация: <br/> <%= f.text_area :contacts, size: "60x4" %></p>

    <p><%= f.submit "Добавить работника" %></p>
<% end %>

<p><%= link_to "Назад", :back %></p>

