<h1>Добавление нового работника</h1>

<%= form_for (@worker) do |f| %>
    <p>Имя: <br/> <%= f.text_field :name %></p>
    <p>Контактные данные: <br/> <%= f.text_field :contacts %></p>
    <p>Статус поиска работы: <br/> <%= f.check_box :status %></p>
    <p>Желаемая зработная плата: <br/> <%= f.text_field :solaryDesire %></p>

    <p><%= f.submit "Добавить работника" %></p>
<% end %>

