<h1><%=@worker.name%></h1>

<h2><%= link_to '[Изменить данные работника]', edit_worker_path(@worker) %></h2>

<ul>
  <li>Контактная информация: <%= @worker.contacts%></li>
  <li>Желаемая заработная плата: <%= @worker.solaryDesire%></li>
  <li>Ищет работу: <%= @status %></li>
</ul>

<h2><%= link_to '[Искать]', search_worker_path %></h2>

<p><%= link_to "Назад", workers_path %></p>


<h2>Навыки</h2>
<button onclick="$('#skills').show();">+</button>

<div id="skills" style="display: none">
  <select id = "selectedSkill" >
    <% Skill.all.each do |item| %>
        <option value = "<%= item.id %>" > <%= item.name %></option>
    <% end %>
  </select>
  <button onclick= add(selectedSkill.value)>OK</button>
</div>

<ul>
  <% if @worker.skills.empty? %>
      <p>Отсутствуют</p>
  <% else %>
      <% @worker.skills.each do |i| %>
          <li><%= i.name %><button onclick="remove(<%= i.id %>)">-</button></li>
      <% end %>
  <% end %>
</ul>

<script>
    function add(id)
    {
        $.get('/workers/<%= @worker.id %>_'+id+'/AddSkill');
        location.reload();
    }
    function remove(id)
    {
        $.get('/workers/<%= @worker.id %>_'+id+'/RemoveSkill');
        while(_requestComplite)
            location.reload();
    }
</script>

