<h1><%=@worker.name%></h1>

<h2><%= link_to '[Искать подходящие вакансии]', search_worker_path %>   <%= link_to '[Изменить данные работника]', edit_worker_path(@worker) %></h2>

<ul>
  <li>Контактная информация: <%= @worker.contacts%></li>
  <li>Желаемая заработная плата: <%= @worker.solaryDesire%></li>
  <li>Ищет работу: <%= @status %></li>
  <li>Умения:</li>
  <ul>
    <% if @worker.skills.empty? %>
        <p>Отсутствуют</p>
    <% else %>
        <% @worker.skills.each do |i| %>
            <li><%= i.name %><button onclick="remove(<%= i.id %>)">-</button></li>
        <% end %>
    <% end %>
  </ul>

  <div id="skills">
    <select id = "selectedSkill" >
      <% Skill.all.each do |item| %>
          <option value = "<%= item.id %>" > <%= item.name %></option>
      <% end %>
    </select>
    <button onclick= add(selectedSkill.value)>OK</button>
    <button onclick="$('#adds').show();">Добавить новое умение</button>
    <div id="adds" style="display: none">
          <p><input type =text name="enter" class="enter" value="" id="skill">
          <button onclick="add_skill()">Добавить</button></p>
    </div>
  </div>
</ul>

<p><%= link_to "Назад", workers_path %></p>



<script>
    function add(id)
    {
        var res = $.get('/workers/<%= @worker.id %>_'+id+'/AddSkill')
            .complete(function(){location.reload();});
    }
    function remove(id)
    {
        var res = $.get('/workers/<%= @worker.id %>_'+id+'/RemoveSkill')
            .complete(function(){location.reload();});
    }
    function add_skill()
    {
        var sk = $('#skill')
        var res = $.get('/workers/' + sk.val()+'/SetSkill')
                .complete(function(){location.reload();});
        $('#skills').show();
    }
</script>

