<h1><%=@worker.name%></h1>

<h2><%= link_to '[Искать подходящие вакансии]', search_worker_path %>   <%= link_to '[Изменить данные работника]', edit_worker_path(@worker) %></h2>

<ul>
  <li>Контактная информация: <%= @worker.contacts%></li>
  <li>Желаемая заработная плата: <%= @worker.solaryDesire%></li>
  <li>Ищет работу: <%= @status %></li>
  <li>Умения:</li>
  <ul>
    <% if @worker.skills.empty? %>
        <p>Отсутствуют</p>
    <% else %>
        <% @worker.skills.each do |i| %>
            <li><%= i.name %></button></li>
        <% end %>
    <% end %>
  </ul>

</ul>

<p><%= link_to "Назад", workers_path %></p>

<script>
    function add(id)
    {
        $.get('/workers/<%= @worker.id %>_'+id+'/AddSkill');
        location.reload();
    }
    function remove(id)
    {
        $.get('/workers/<%= @worker.id %>_'+id+'/RemoveSkill');
        while(_requestComplite)
            location.reload();
    }
</script>

